/* Cell */
.cell {
  box-sizing: border-box;
  flex: 0 1 auto;
}

@mixin flexgrid-responsive-cell($breakpoint, $settings) {
  $half-gutter: map-get($settings, gutter) / 2;
  $division: map-get($settings, division);

  /* Spacing */
  .cell {
    padding-left: $half-gutter;
    padding-right: $half-gutter;
  }

  /* Sizes */
  @for $i from 1 through $division {
    @if $division != $flexgrid-division {
      $j: $i * $flexgrid-division / $division;

      .cell--#{$j}-\@#{$breakpoint} {
        flex-basis: percentage($i / $division);
        max-width: percentage($i / $division);
      }
    } @else {
      .cell--#{$i}-\@#{$breakpoint} {
        flex-basis: percentage($i / $division);
        max-width: percentage($i / $division);
      }
    }
  }

  /* Collapsed */
  .cell--0-\@#{$breakpoint} {
    flex-grow: 0;
    flex-basis: auto;
    max-width: none;
  }

  /* Expended */
  .cell--\@#{$breakpoint} {
    flex-grow: 1;
    flex-basis: auto;
    max-width: none;
  }

  /* Visibility */
  .cell--hidden-\@#{$breakpoint} {
    display: none;
  }

  .cell--visible-\@#{$breakpoint} {
    display: block;
  }

  /* Self justification Y axis */
  .cell--yStretch-\@#{$breakpoint} {
    align-self: stretch;
  }

  .cell--yStart-\@#{$breakpoint} {
    align-self: flex-start;
  }

  .cell--yCenter-\@#{$breakpoint} {
    align-self: center;
  }

  .cell--yEnd-\@#{$breakpoint} {
    align-self: flex-end;
  }

  /* Self justification X axis */
  .cell--xCenter-\@#{$breakpoint} {
    margin-left: auto;
    margin-right: auto;
  }

  .cell--xStart-\@#{$breakpoint} {
    margin-right: auto;
  }

  .cell--xEnd-\@#{$breakpoint} {
    margin-left: auto;
  }

  /* Order */
  .cell--first-\@#{$breakpoint} {
    order: -1;
  }

  .cell--last-\@#{$breakpoint} {
    order: 1;
  }

  .cell--ordered-\@#{$breakpoint} {
    order: 0;
  }
}

@each $breakpoint, $settings in $flexgrid-breakpoints {
  @if not map-has-key($settings, size) {
    @include flexgrid-responsive-cell($breakpoint, $settings);
  } @else {
    @media (min-width: map-get($settings, size)) {
      @include flexgrid-responsive-cell($breakpoint, $settings);
    }
  }
}
