/* Settings */

$flexgrid-division: 12 !default;

$flexgrid-breakpoints: (
  xs: (
    division: 6,
    gutter: 12px,
    outside-margin: 12px
  ),
  sm: (
    size: 768px,
    division: $flexgrid-division,
    gutter: 12px,
    outside-margin: 24px
  ),
  md: (
    size: 960px,
    division: $flexgrid-division,
    gutter: 20px,
    outside-margin: 40px
  ),
  lg: (
    size: 1290px,
    division: $flexgrid-division,
    gutter: 30px,
    outside-margin: 60px
  ),
  xl: (
    size: 1590px,
    division: $flexgrid-division,
    gutter: 30px,
    outside-margin: 90px
  )
) !default;

/* Tests */
@each $breakpoint, $settings in $flexgrid-breakpoints {
  @if (map-get($settings, outside-margin) < (map-get($settings, gutter) / 2)) {
    @error "To avoid overflow, the 'outside-margin' (#{map-get($settings, outside-margin)}) of '#{$breakpoint}' has to be as large or larger than half the 'gutter' (#{map-get($settings, gutter)}). This is for the .container to cancel the .grid negative margins used to align the .cells.";
  }

  @if $flexgrid-division % map-get($settings, division) != 0 {
    @error "To avoid a class name containing a decimal point, the division of $flexgrid-division (#{$flexgrid-division}) by 'division' (#{map-get($settings, division)}) of '#{$breakpoint}' has to be an integer.";
  }
}
