@import "settings";

.flexgrid-debug {
  /* stylelint-disable color-no-hex */
  $debug-container-color: #4f91b2;
  $debug-grid-color: #9b4dca;
  $debug-cell-color: #999;
  /* stylelint-disable enable */

  .container,
  .grid,
  .cell {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      outline: 1px dashed;
      pointer-events: none;
      outline-offset: -1px;
    }
  }

  .container {
    &::after {
      outline-color: $debug-container-color;
      left: 0;
      right: 0;
    }
  }

  /* Cell */
  .cell {
    &::after {
      outline-style: dotted;
      outline-color: $debug-cell-color;
    }
  }

  @mixin debug-responsive-cell($breakpoint, $settings) {
    $half-gutter: map-get($settings, gutter) / 2;

    .cell {
      &::after {
        left: $half-gutter;
        right: $half-gutter;
      }
    }
  }

  /* Grid */
  .grid {
    &::after {
      outline-color: $debug-grid-color;
    }
  }

  @mixin debug-responsive-grid($breakpoint, $settings) {
    $half-gutter: map-get($settings, gutter) / 2;

    .grid {
      &::after {
        left: $half-gutter;
        right: $half-gutter;
      }
    }
  }

  @mixin debug-responsives($breakpoint, $settings) {
    @include debug-responsive-grid($breakpoint, $settings);
    @include debug-responsive-cell($breakpoint, $settings);
  }

  @each $breakpoint, $settings in $flexgrid-breakpoints {
    @if not map-has-key($settings, size) {
      @include debug-responsives($breakpoint, $settings);
    } @else {
      @media (min-width: map-get($settings, size)) {
        @include debug-responsives($breakpoint, $settings);
      }
    }
  }
}
