/* Settings */
$grid-division: 12 !default;
$grid-gutter: 1rem !default;
$grid-gutter-lg: $grid-gutter * 3 !default;
$grid-outer-margin: $grid-gutter + 1 !default;

$grid-half-gutter: $grid-gutter / 2;
$grid-half-gutter-lg: $grid-gutter-lg / 2;

// Breakpoints (Mobile first)
$grid-breakpoints: (
	sm: 425px + 1,
	md: 768px + 1,
	lg: 1024px + 1,
	xl: 1366px + 1
) !default;

/* Debug */
/* stylelint-disable color-no-hex */
$grid-debug-container-color: #4f91b2;
$grid-debug-grid-color: #9b4dca;
$grid-debug-cell-color: #999;
