/*! Flexboxgrid-sass debug | MIT License | https://github.com/JohanMouchet/flexboxgrid-sass */

$color-grid: #9b4dca;
$color-grid-cell: #999;

.g--debug {
	&,
	.grid,
	.cell {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			outline: 1px dashed;
		}
	}

	/* Grid */
	/** Row **/
	&,
	.grid {
		&::after,
		> .cell::after {
			top: 0;
			bottom: 0;
			left: $grid-half-gutter;
			right: $grid-half-gutter;
		}

		&::after {
			outline-color: $color-grid;
		}

		/*** Grid large gutters ***/
		&[class*='-lgGutter'] {
			&::after,
			> .cell::after {
				left: $grid-half-gutter-lg;
				right: $grid-half-gutter-lg;
			}
		}

		/*** Grid no gutters ***/
		&[class*='-noGutter'] {
			&::after,
			> .cell::after {
				left: 0;
				right: 0;
			}
		}

		/*** Cell no gutter ***/
		> .cell[class*='-noGutter']::after {
			left: 0;
			right: 0;
		}
	}

	/* Cell */
	.cell::after {
		outline-style: dotted;
		outline-color: $color-grid-cell;
	}
}
