/**
 * Home view
 */

/* stylelint-disable color-no-hex */
$color-primary: #4f91b2;
$color-secondary: #9b4dca;
$color-grey: #f2f2f2;
$color-grey-light: #e5e5e5;
/* stylelint-disable enable */

html {
	font-size: 14px;
	font-family: Helvetica, sans-serif;
}

body {
	margin: 0;
	line-height: 1.5;
}

main {
	max-width: 1200px;
	margin: auto;
	padding-top: 4em;
	padding-bottom: 4em;
}

a {
	color: $color-primary;
}

h1 {
	display: inline-block;
	color: $color-primary;
	background: linear-gradient(to right, $color-primary, $color-secondary);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	box-decoration-break: clone;
}

/* Code */
code,
pre {
	background-color: $color-grey;
}

/** Inline code **/
code {
	padding: .2em .5em;
	font-size: .85rem;
	font-weight: 300;
	text-transform: none;
}

/** Block of code **/
pre {
	line-height: 1.2;
	padding: 1.5em;
	tab-size: 2;

	/* stylelint-disable-next-line selector-max-type */
	code {
		padding: 0;
	}
}

/* Table */
table {
	width: 100%;
	border-collapse: collapse;
}

.table {
	margin: 2em 0;

	/* stylelint-disable-next-line selector-max-type */
	tbody tr:not(:last-child) {
		border-bottom: 1px solid $color-grey-light;
	}

	th,
	td {
		padding: .8em 1em;
		text-align: left;
	}

	th {
		font-weight: 700;
	}

	thead {
		border-bottom: 2px solid;
		color: $color-primary;
		background: linear-gradient(to right, $color-primary, $color-secondary);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		box-decoration-break: clone;
	}
}

/* hr */
hr {
	height: 0;
	width: 100%;
	margin: 2.5em 0;
	border: 0;
	border-bottom: 1px solid $color-grey-light;
}

.box {
	display: inline-block;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

/* Grid */
.toggle-grid-debug {
	display: inline-block;
	position: fixed;
	bottom: 1em;
	right: 1em;
	background-image: linear-gradient(45deg, $color-primary, $color-secondary);
	color: #fff;
	white-space: nowrap;
	cursor: pointer;
	padding: 1em;
	border-radius: .5em;
	box-shadow:
		0 5px 10px rgba(17, 17, 17, .04),
		0 2px 5px rgba(17, 17, 17, .04);
	transition: background-color .2s ease-out;
	animation: slide-in .4s ease-out both;

	@keyframes slide-in {
		from {
			opacity: 0;
			transform: translateY(100%);
		}

		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	&:hover {
		opacity: .8;
	}
}

.toggle-grid-debug-checkbox {
	margin: 0 .2em 0 0;
	vertical-align: middle;
}

.hide-grid-debug.hide-grid-debug {
	&::after {
		outline: none;
	}

	> .cell {
		/* stylelint-disable-next-line */
		&::after {
			outline: none;
		}
	}
}

/* Anchor */
.anchor {
	position: relative;

	&-link {
		position: absolute;
		right: 100%;
		padding-right: .25rem;
		font-weight: 300;
		font-style: normal;
		opacity: 0;

		&:focus {
			opacity: 1;
			text-decoration: none;
		}
	}

	&:hover & {
		&-link {
			opacity: 1;
			text-decoration: none;
		}
	}
}

/* Counters */
.counter {
	counter-reset: index-1;

	@for $i from 1 through 3 {
		.counter-index-#{$i} {
			counter-increment: index-#{$i};
			counter-reset: index-#{$i + 1};

			&::before {
				$k: '';

				/* stylelint-disable-next-line */
				@for $j from 1 through $i {
					$k: $k + counter(index-#{$j}) + '"."';
				}

				content: #{$k} ' ';
			}
		}
	}
}
