/* Container */
.container {
  box-sizing: border-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $fluxgrid-outer-margin;
  padding-right: $fluxgrid-outer-margin;
  position: relative;
}

/** No gutters **/
.container--noGutter {
  padding-left: $fluxgrid-half-gutter;
  padding-right: $fluxgrid-half-gutter;
}

/** No gutters large grid **/
.container--noGutter-lgGrid {
  padding-left: $fluxgrid-half-gutter-lg;
  padding-right: $fluxgrid-half-gutter-lg;
}

@mixin fluxgrid-responsive-container($breakpoint, $size) {
  .container--#{$breakpoint} {
    max-width: #{$size};
  }
}
