/* Grid */
.#{$fluxgrid-namespace}grid {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -1 * $fluxgrid-half-gutter;
  margin-right: -1 * $fluxgrid-half-gutter;
}

@mixin fluxgrid-responsive-grid($breakpoint) {
  /* Direction */
  .#{$fluxgrid-namespace}grid--row-\@#{$breakpoint} {
    flex-direction: row;
  }

  .#{$fluxgrid-namespace}grid--rowReverse-\@#{$breakpoint} {
    flex-direction: row-reverse;
  }

  /* Wrap */
  .#{$fluxgrid-namespace}grid--wrap-\@#{$breakpoint} {
    flex-wrap: wrap;
  }

  .#{$fluxgrid-namespace}grid--noWrap-\@#{$breakpoint} {
    flex-wrap: nowrap;
  }

  /* Gutters */

  /** Large **/
  .#{$fluxgrid-namespace}grid--lgGutter-\@#{$breakpoint} {
    margin-left: -1 * $fluxgrid-half-gutter-lg;
    margin-right: -1 * $fluxgrid-half-gutter-lg;

    > .#{$fluxgrid-namespace}cell {
      padding-left: $fluxgrid-half-gutter-lg;
      padding-right: $fluxgrid-half-gutter-lg;
    }
  }

  /** None **/
  .#{$fluxgrid-namespace}grid--noGutter-\@#{$breakpoint} {
    margin-left: 0;
    margin-right: 0;

    > .#{$fluxgrid-namespace}cell {
      padding-left: 0;
      padding-right: 0;
    }
  }

  /* Justification X axis */
  .#{$fluxgrid-namespace}grid--xStart-\@#{$breakpoint} {
    justify-content: flex-start;
  }

  .#{$fluxgrid-namespace}grid--xCenter-\@#{$breakpoint} {
    justify-content: center;
  }

  .#{$fluxgrid-namespace}grid--xEnd-\@#{$breakpoint} {
    justify-content: flex-end;
  }

  .#{$fluxgrid-namespace}grid--xAround-\@#{$breakpoint} {
    justify-content: space-around;
  }

  .#{$fluxgrid-namespace}grid--xBetween-\@#{$breakpoint} {
    justify-content: space-between;
  }

  /* Justification Y axis */
  .#{$fluxgrid-namespace}grid--yStretch-\@#{$breakpoint} {
    align-items: stretch;
  }

  .#{$fluxgrid-namespace}grid--yStart-\@#{$breakpoint} {
    align-items: flex-start;
  }

  .#{$fluxgrid-namespace}grid--yCenter-\@#{$breakpoint} {
    align-items: center;
  }

  .#{$fluxgrid-namespace}grid--yEnd-\@#{$breakpoint} {
    align-items: flex-end;
  }

  /* Justification Y axis when wrapped: Z */
  .#{$fluxgrid-namespace}grid--zStretch-\@#{$breakpoint} {
    align-content: stretch;
  }

  .#{$fluxgrid-namespace}grid--zStart-\@#{$breakpoint} {
    align-content: flex-start;
  }

  .#{$fluxgrid-namespace}grid--zCenter-\@#{$breakpoint} {
    align-content: center;
  }

  .#{$fluxgrid-namespace}grid--zEnd-\@#{$breakpoint} {
    align-content: flex-end;
  }

  .#{$fluxgrid-namespace}grid--zAround-\@#{$breakpoint} {
    align-content: space-around;
  }

  .#{$fluxgrid-namespace}grid--zBetween-\@#{$breakpoint} {
    align-content: space-between;
  }
}
