/* Settings */

$fluxgrid-division: 12 !default;

$fluxgrid-breakpoints: (
  xs: (
    division: $fluxgrid-division / 2,
    gutter: 0.75rem,
    outside-margin: 1rem
  ),
  sm: (
    size: 425px + 1,
    division: $fluxgrid-division,
    gutter: 0.75rem,
    outside-margin: 1rem
  ),
  md: (
    size: 768px + 1,
    division: $fluxgrid-division,
    gutter: 1.5rem,
    outside-margin: 2rem
  ),
  lg: (
    size: 1024px + 1,
    division: $fluxgrid-division,
    gutter: 2.25rem,
    outside-margin: 3rem
  ),
  xl: (
    size: 1366px + 1,
    division: $fluxgrid-division,
    gutter: 2.25rem,
    outside-margin: 3rem
  )
) !default;

/* Tests */
@each $breakpoint, $settings in $fluxgrid-breakpoints {
  @if (map-get($settings, outside-margin) < (map-get($settings, gutter) / 2)) {
    @error "To avoid overflow, the 'outside-margin' (#{map-get($settings, outside-margin)}) of '#{$breakpoint}' has to be as large or larger than half the 'gutter' (#{map-get($settings, gutter)}). This is for the .container to cancel the .grid negative margins used to align the .cells.";
  }

  @if $fluxgrid-division % map-get($settings, division) != 0 {
    @error "To avoid a class name containing a decimal point, the division of $fluxgrid-division (#{$fluxgrid-division}) by 'division' (#{map-get($settings, division)}) of '#{$breakpoint}' has to be an integer.";
  }
}
