/*! Fluxgrid | MIT License | https://github.com/JohanMouchet/fluxgrid */

@import "settings";

.fluxgrid-debug {
  .container,
  .grid,
  .cell {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      outline: 1px dashed;
      pointer-events: none;
      outline-offset: -1px;
    }
  }

  .container {
    &::after {
      outline-color: $fluxgrid-debug-container-color;
      left: 0;
      right: 0;
    }
  }

  /* Cell */
  .cell {
    &::after {
      outline-style: dotted;
      outline-color: $fluxgrid-debug-cell-color;
    }
  }

  @mixin debug-responsive-cell($breakpoint, $settings) {
    $half-gutter: map-get($settings, gutter) / 2;

    .cell {
      &::after {
        left: $half-gutter;
        right: $half-gutter;
      }
    }
  }

  /* Grid */
  .grid {
    &::after {
      outline-color: $fluxgrid-debug-grid-color;
    }
  }

  @mixin debug-responsive-grid($breakpoint, $settings) {
    $half-gutter: map-get($settings, gutter) / 2;
    $half-gutter-lg: map-get($settings, gutter-lg) / 2;

    .grid {
      &::after {
        left: $half-gutter;
        right: $half-gutter;
      }

      /** Grid large gutters **/
      &.grid--lgGutter-\@#{breakpoint} {
        /* stylelint-disable-next-line */
        &::after,
        > .cell::after {
          left: $half-gutter-lg;
          right: $half-gutter-lg;
        }
      }

      /** Grid no gutters **/
      &.grid--noGutter-\@#{breakpoint} {
        /* stylelint-disable-next-line */
        &::after,
        > .cell::after {
          left: 0;
          right: 0;
        }
      }
    }

    /* Cell */
    .cell--noGutter-\@#{breakpoint} {
      &::after {
        left: 0;
        right: 0;
      }
    }
  }

  // @each $bp-shortname, $bp-size in $fluxgrid-breakpoints {
  //   @if $bp-size == 0 {
  //     @include debug-responsive-grid($bp-shortname);
  //   } @else {
  //     @media (min-width: $bp-size) {
  //       @include debug-responsive-grid($bp-shortname);
  //     }
  //   }
  // }

  @mixin debug-responsives($breakpoint, $settings) {
    // @include debug-responsive-container($breakpoint, $settings);
    @include debug-responsive-grid($breakpoint, $settings);
    @include debug-responsive-cell($breakpoint, $settings);
  }

  @each $breakpoint, $settings in $fluxgrid-breakpoints {
    @if not map-has-key($settings, size) {
      @include debug-responsives($breakpoint, $settings);
    } @else {
      @media (min-width: map-get($settings, size)) {
        @include debug-responsives($breakpoint, $settings);
      }
    }
  }
}
