/*! Fluxgrid | MIT License | https://github.com/JohanMouchet/fluxgrid */

@import "settings";

/* Debug */
.fluxgrid-debug {
  .#{$fluxgrid-namespace}container,
  .#{$fluxgrid-namespace}grid,
  .#{$fluxgrid-namespace}cell {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      outline: 1px dashed;
      pointer-events: none;
      outline-offset: -1px;
    }
  }

  .#{$fluxgrid-namespace}container {
    &::after {
      outline-color: $fluxgrid-debug-container-color;
      left: 0;
      right: 0;
    }
  }

  .#{$fluxgrid-namespace}grid {
    &::after {
      outline-color: $fluxgrid-debug-grid-color;
      left: $fluxgrid-half-gutter;
      right: $fluxgrid-half-gutter;
    }
  }

  .#{$fluxgrid-namespace}cell {
    &::after {
      outline-style: dotted;
      outline-color: $fluxgrid-debug-cell-color;
      left: $fluxgrid-half-gutter;
      right: $fluxgrid-half-gutter;
    }
  }

  @mixin debug-responsive-grid($breakpoint) {
    /* Grid */
    .#{$fluxgrid-namespace}grid {
      /** Grid large gutters **/
      &.#{$fluxgrid-namespace}grid--lgGutter-\@#{$breakpoint} {
        /* stylelint-disable-next-line */
        &::after,
        > .#{$fluxgrid-namespace}cell::after {
          left: $fluxgrid-half-gutter-lg;
          right: $fluxgrid-half-gutter-lg;
        }
      }

      /** Grid no gutters **/
      &.#{$fluxgrid-namespace}grid--noGutter-\@#{$breakpoint} {
        /* stylelint-disable-next-line */
        &::after,
        > .#{$fluxgrid-namespace}cell::after {
          left: 0;
          right: 0;
        }
      }
    }

    /* Cell */
    .#{$fluxgrid-namespace}cell--noGutter-\@#{$breakpoint} {
      &::after {
        left: 0;
        right: 0;
      }
    }
  }

  @include debug-responsive-grid("xs");

  @each $breakpoint, $size in $fluxgrid-breakpoints {
    @media (min-width: $size) {
      @include debug-responsive-grid($breakpoint);
    }
  }
}
