/*! Fluxgrid | MIT License | https://github.com/JohanMouchet/fluxgrid */

@import "settings";

.fluxgrid-debug {
  /* stylelint-disable color-no-hex */
  $fluxgrid-debug-container-color: #4f91b2;
  $fluxgrid-debug-grid-color: #9b4dca;
  $fluxgrid-debug-cell-color: #999;

  .container,
  .grid,
  .cell {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      outline: 1px dashed;
      pointer-events: none;
      outline-offset: -1px;
    }
  }

  .container {
    &::after {
      outline-color: $fluxgrid-debug-container-color;
      left: 0;
      right: 0;
    }
  }

  .grid {
    &::after {
      outline-color: $fluxgrid-debug-grid-color;
      left: $fluxgrid-half-gutter;
      right: $fluxgrid-half-gutter;
    }
  }

  .cell {
    &::after {
      outline-style: dotted;
      outline-color: $fluxgrid-debug-cell-color;
      left: $fluxgrid-half-gutter;
      right: $fluxgrid-half-gutter;
    }
  }

  @mixin grid-debug($bp-shortname) {
    /* Grid */
    .grid {
      /** Grid large gutters **/
      &.grid--lgGutter-\@#{$bp-shortname} {
        /* stylelint-disable-next-line */
        &::after,
        > .cell::after {
          left: $fluxgrid-half-gutter-lg;
          right: $fluxgrid-half-gutter-lg;
        }
      }

      /** Grid no gutters **/
      &.grid--noGutter-\@#{$bp-shortname} {
        /* stylelint-disable-next-line */
        &::after,
        > .cell::after {
          left: 0;
          right: 0;
        }
      }
    }

    /* Cell */
    .cell--noGutter-\@#{$bp-shortname} {
      &::after {
        left: 0;
        right: 0;
      }
    }
  }

  @each $bp-shortname, $bp-size in $fluxgrid-breakpoints {
    @if $bp-size == 0 {
      @include grid-debug($bp-shortname);
    } @else {
      @media (min-width: $bp-size) {
        @include grid-debug($bp-shortname);
      }
    }
  }
}
