/* Cell */
.#{$fluxgrid-namespace}cell {
  box-sizing: border-box;
  flex: 0 1 auto;
  padding-left: $fluxgrid-half-gutter;
  padding-right: $fluxgrid-half-gutter;
}

@mixin fluxgrid-responsive-cell($breakpoint) {
  /* Sizes */
  @for $i from 1 through $fluxgrid-division {
    .#{$fluxgrid-namespace}cell--#{$i}-\@#{$breakpoint} {
      flex-basis: percentage($i / $fluxgrid-division);
      max-width: percentage($i / $fluxgrid-division);
    }
  }

  /* Collapsed */
  .#{$fluxgrid-namespace}cell--0-\@#{$breakpoint} {
    flex-grow: 0;
    flex-basis: auto;
    max-width: none;
  }

  /* Expended */
  .#{$fluxgrid-namespace}cell--\@#{$breakpoint} {
    flex-grow: 1;
    flex-basis: auto;
    max-width: none;
  }

  /* No gutters */
  .#{$fluxgrid-namespace}cell--noGutter-\@#{$breakpoint} {
    padding-left: 0;
    padding-right: 0;
  }

  /* Gutters */
  .#{$fluxgrid-namespace}cell--gutter-\@#{$breakpoint} {
    padding-left: $fluxgrid-half-gutter;
    padding-right: $fluxgrid-half-gutter;
  }

  [class*="#{$fluxgrid-namespace}grid--lgGutter"]
    > .#{$fluxgrid-namespace}cell--gutter-\@#{$breakpoint} {
    padding-left: $fluxgrid-half-gutter-lg;
    padding-right: $fluxgrid-half-gutter-lg;
  }

  /* Visibility */
  .#{$fluxgrid-namespace}cell--hidden-\@#{$breakpoint} {
    display: none;
  }

  .#{$fluxgrid-namespace}cell--visible-\@#{$breakpoint} {
    display: block;
  }

  /* Self justification Y axis */
  .#{$fluxgrid-namespace}cell--yStretch-\@#{$breakpoint} {
    align-self: stretch;
  }

  .#{$fluxgrid-namespace}cell--yStart-\@#{$breakpoint} {
    align-self: flex-start;
  }

  .#{$fluxgrid-namespace}cell--yCenter-\@#{$breakpoint} {
    align-self: center;
  }

  .#{$fluxgrid-namespace}cell--yEnd-\@#{$breakpoint} {
    align-self: flex-end;
  }

  /* Self justification X axis */
  .#{$fluxgrid-namespace}cell--xCenter-\@#{$breakpoint} {
    margin-left: auto;
    margin-right: auto;
  }

  .#{$fluxgrid-namespace}cell--xStart-\@#{$breakpoint} {
    margin-right: auto;
  }

  .#{$fluxgrid-namespace}cell--xEnd-\@#{$breakpoint} {
    margin-left: auto;
  }

  /* Order */
  .#{$fluxgrid-namespace}cell--first-\@#{$breakpoint} {
    order: -1;
  }

  .#{$fluxgrid-namespace}cell--last-\@#{$breakpoint} {
    order: 1;
  }

  .#{$fluxgrid-namespace}cell--ordered-\@#{$breakpoint} {
    order: 0;
  }
}
