/* Container */
.container {
  box-sizing: border-box;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $fluxgrid-outside-margin;
  padding-right: $fluxgrid-outside-margin;
}

/** No gutters **/
.container-no-gutter {
  padding-left: 0;
  padding-right: 0;
  overflow-x: hidden;
}

@mixin fluxgrid-responsive-container($breakpoint, $size) {
  .container-#{$breakpoint} {
    max-width: $size;
  }
}

@each $breakpoint, $size in $fluxgrid-breakpoints {
  @include fluxgrid-responsive-container($breakpoint, $size);
}
