/* Fluxgrid | MIT License | https://github.com/JohanMouchet/fluxgrid */

@import "settings";

/* Debug */
.fluxgrid-debug {
  .container,
  .grid,
  .cell {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      outline: 1px dashed;
      pointer-events: none;
      outline-offset: -1px;
    }
  }

  .container {
    &::after {
      outline-color: $fluxgrid-debug-container-color;
      left: 0;
      right: 0;
    }
  }

  .grid {
    &::after {
      outline-color: $fluxgrid-debug-grid-color;
      left: $fluxgrid-half-gutter;
      right: $fluxgrid-half-gutter;
    }
  }

  .cell {
    &::after {
      outline-style: dotted;
      outline-color: $fluxgrid-debug-cell-color;
      left: $fluxgrid-half-gutter;
      right: $fluxgrid-half-gutter;
    }
  }

  @mixin debug-responsive-grid($breakpoint: "") {
    /* Grid */
    .grid {
      /** Grid large gutters **/
      &.#{$breakpoint}grid-lg-gutter {
        /* stylelint-disable-next-line max-nesting-depth, selector-max-class */
        &::after,
        > .cell::after {
          left: $fluxgrid-half-gutter-lg;
          right: $fluxgrid-half-gutter-lg;
        }
      }

      /** Grid no gutters **/
      &.#{$breakpoint}grid-no-gutter {
        /* stylelint-disable-next-line max-nesting-depth, selector-max-class */
        &::after,
        > .cell::after {
          left: 0;
          right: 0;
        }
      }
    }

    /* Cell */
    .#{$breakpoint}cell-no-gutter {
      &::after {
        left: 0;
        right: 0;
      }
    }
  }

  @include debug-responsive-grid();

  @each $breakpoint, $size in $fluxgrid-breakpoints {
    @media (min-width: $size) {
      @include debug-responsive-grid("#{$breakpoint}\\:");
    }
  }

  /* stylelint-disable-next-line no-duplicate-selectors */
  .grid {
    &-hide-debug {
      &::after {
        outline: none;
      }

      /* stylelint-disable-next-line selector-max-class */
      > .cell {
        /* stylelint-disable-next-line max-nesting-depth, selector-max-class */
        &::after {
          outline: none;
        }
      }
    }
  }
}
