/* Cell */
.cell {
  box-sizing: border-box;
  flex: 0 1 auto;
  padding-left: $fluxgrid-half-gutter;
  padding-right: $fluxgrid-half-gutter;
}

@mixin fluxgrid-responsive-cell($breakpoint) {
  /* Sizes */
  @for $i from 1 through $fluxgrid-division {
    .cell--#{$i}-\@#{$breakpoint} {
      flex-basis: percentage($i / $fluxgrid-division);
      max-width: percentage($i / $fluxgrid-division);
    }
  }

  /* Collapsed */
  .cell--0-\@#{$breakpoint} {
    flex-grow: 0;
    flex-basis: auto;
    max-width: none;
  }

  /* Expended */
  .cell--\@#{$breakpoint} {
    flex-grow: 1;
    flex-basis: auto;
    max-width: none;
  }

  /* No gutters */
  .cell--noGutter-\@#{$breakpoint} {
    padding-left: 0;
    padding-right: 0;
  }

  /* Gutters */
  .cell--gutter-\@#{$breakpoint} {
    padding-left: $fluxgrid-half-gutter;
    padding-right: $fluxgrid-half-gutter;
  }

  [class*="grid--lgGutter"] > .cell--gutter-\@#{$breakpoint} {
    padding-left: $fluxgrid-half-gutter-lg;
    padding-right: $fluxgrid-half-gutter-lg;
  }

  /* Visibility */
  .cell--hidden-\@#{$breakpoint} {
    display: none;
  }

  .cell--visible-\@#{$breakpoint} {
    display: block;
  }

  /* Self justification Y axis */
  .cell--yStretch-\@#{$breakpoint} {
    align-self: stretch;
  }

  .cell--yStart-\@#{$breakpoint} {
    align-self: flex-start;
  }

  .cell--yCenter-\@#{$breakpoint} {
    align-self: center;
  }

  .cell--yEnd-\@#{$breakpoint} {
    align-self: flex-end;
  }

  /* Self justification X axis */
  .cell--xCenter-\@#{$breakpoint} {
    margin-left: auto;
    margin-right: auto;
  }

  .cell--xStart-\@#{$breakpoint} {
    margin-right: auto;
  }

  .cell--xEnd-\@#{$breakpoint} {
    margin-left: auto;
  }

  /* Order */
  .cell--first-\@#{$breakpoint} {
    order: -1;
  }

  .cell--last-\@#{$breakpoint} {
    order: 1;
  }

  .cell--ordered-\@#{$breakpoint} {
    order: 0;
  }
}

@include fluxgrid-responsive-cell("xs");

@each $breakpoint, $size in $fluxgrid-breakpoints {
  @media (min-width: $size) {
    @include fluxgrid-responsive-cell($breakpoint);
  }
}
