/* Styling for the demo page */

@import "fluxgrid/settings";

/* stylelint-disable color-no-hex */
$fluxgrid-demo-color-primary: $fluxgrid-debug-container-color;
$fluxgrid-demo-color-secondary: $fluxgrid-debug-grid-color;
$fluxgrid-demo-color-grey: #e5e5e5;
$fluxgrid-demo-color-grey-lighter: #f2f2f2;
$fluxgrid-demo-color-syntax-grey: #282c35;
$fluxgrid-demo-color-syntax-w: #d7dae0;
$fluxgrid-demo-color-syntax-r: #e06c75;
$fluxgrid-demo-color-syntax-g: #98c379;
$fluxgrid-demo-color-syntax-y: #d19a66;
/* stylelint-disable enable */

html {
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  display: grid;
}

body {
  margin: 0;
  line-height: 1.5;
}

main {
  margin: 2em 1em;
}

a {
  color: $fluxgrid-demo-color-primary;
  text-decoration: none;

  &:focus {
    outline: none;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

h1 {
  display: inline-block;
  color: $fluxgrid-demo-color-primary;
}

/* Code */
code,
pre {
  border-radius: 0.3em;
  background-color: $fluxgrid-demo-color-grey-lighter;
}

/** Inline code **/
code {
  padding: 0.3em 0.5em;
  font-size: 0.85rem;
  font-weight: 300;
  text-transform: none;
}

/** Block of code **/
pre {
  line-height: 1.2;
  padding: 1.5em;
  tab-size: 2;
  overflow-x: auto;

  /* stylelint-disable-next-line selector-max-type */
  code {
    background-color: transparent;
    padding: 0;
  }

  /* stylelint-disable-next-line selector-max-type */
  u {
    text-decoration: none;
  }
}

.syntax {
  background-color: $fluxgrid-demo-color-syntax-grey;
}

.syntax--w {
  color: $fluxgrid-demo-color-syntax-w;
}

.syntax--r {
  color: $fluxgrid-demo-color-syntax-r;
}

.syntax--g {
  color: $fluxgrid-demo-color-syntax-g;
}

.syntax--y {
  color: $fluxgrid-demo-color-syntax-y;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
}

.table {
  margin: 2em 0;

  /* stylelint-disable-next-line selector-max-type */
  tbody tr:not(:last-child) {
    border-bottom: 1px solid $fluxgrid-demo-color-grey;
  }

  th,
  td {
    padding: 0.8em 1em;
    text-align: left;
  }

  th {
    font-weight: 700;
    color: $fluxgrid-demo-color-primary;
  }

  thead {
    border-bottom: 2px solid $fluxgrid-demo-color-grey;
  }

  @media screen and (max-width: 768px) {
    &--responsive {
      display: inline-block;
      max-width: 100%;
      overflow-x: auto;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
  }
}

/* hr */
hr {
  height: 0;
  width: 100%;
  margin: 2.5em 0;
  border: 0;
  border-bottom: 1px solid $fluxgrid-demo-color-grey;
}

.box {
  display: inline-block;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

/* Grid */
.toggle-grid-debug {
  display: inline-block;
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-image: linear-gradient(
    45deg,
    $fluxgrid-demo-color-primary,
    $fluxgrid-demo-color-secondary
  );
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: 0 5px 10px rgba(17, 17, 17, 0.2), 0 2px 5px rgba(17, 17, 17, 0.2);
  transition: background-color 0.2s ease-out;
  animation: slide-in 0.4s ease-out both;
  z-index: 1;

  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(100%);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

.toggle-grid-debug-checkbox {
  margin: 0 0.2em 0 0;
  vertical-align: middle;
}

/* Anchor */
.anchor {
  position: relative;

  &-link {
    position: absolute;
    right: 100%;
    padding-right: 0.25rem;
    font-weight: 300;
    font-style: normal;
    opacity: 0;

    &:focus {
      opacity: 1;
      text-decoration: none;
    }
  }

  &:hover & {
    &-link {
      opacity: 1;
      text-decoration: none;
    }
  }
}

/* Counters */
.counter {
  counter-reset: index-1;

  @for $i from 1 through 3 {
    .counter-index-#{$i} {
      counter-increment: index-#{$i};
      counter-reset: index-#{$i + 1};

      &::before {
        $k: "";

        /* stylelint-disable-next-line */
        @for $j from 1 through $i {
          $k: $k + counter(index-#{$j}) + '"."';
        }

        content: #{$k} " ";
      }
    }
  }
}
